.BeerModal {
  color: #777;
  font-family: 'Montserrat';
}

.modalImg {
  max-height: 500px;
  max-width: 100%;
}

.detailsBeerName {
    color: orange;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.detailsTagline {
    color: #999;
    display: block;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.line {
    border-top: 5px solid #B33E9A;
    display: block;
    margin-bottom: 20px;
    width: 100px;
}

.ibu {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.abv {
    display: inline-block;
    margin-right: 20px;
}

.ebc {
    display: inline-block;
}

.description {
    display: block;
    margin-bottom: 20px;
}

.bestServed {
    display: block;
}

h2 {
  color: orange;
}
